@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  font-size: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
 
}
  .shadow-custom {
    box-shadow:  1px 2px 2px hsla(240, 1%, 26%, 0.333),
      2px 4px 4px hsla(240, 1%, 66%, 0.333),
      3px 6px 6px hsla(240, 1%, 66%, 0.333);
  }
/* for popup button */
.mapboxgl-popup-close-button {
    width: 24px;
    height: 24px;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 12px;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
}

.mapboxgl-popup-close-button:hover {
    background-color: #f0f0f0;
    color: #ff0000;
}